<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
</head>
<body>
  <h1>All Posts</h1>
  <ul>
    <% posts.forEach(post => { %>
      <li>
        <h2><a href="/posts/<%= post._id %>"><%= post.title %></a></h2>
        <p><%= post.content.split(" ").slice(0, 30).join(" ") %>...</p>
      </li>
    <% }) %>
  </ul>
</body>
</html>
