<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Welcome to The Social Club, your home away from home. Experience luxury, comfort, and exquisite cuisine in the heart of Kenya.">
    <meta name="keywords" content="hotel, The Social Club, luxury hotel, Kenya, accommodation, restaurant, travel">
    <meta name="author" content="The Social Club">
    <meta property="og:title" content="The Social Club - Your Luxury Hotel in Kenya">
    <meta property="og:description" content="Experience luxury, comfort, and exquisite cuisine in the heart of Kenya at The Social Club.">
    <meta property="og:image" content="https://www.yourwebsite.com/images/logo.jpg">
    <meta property="og:url" content="https://www.yourwebsite.com">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="The Social Club - Your Luxury Hotel in Kenya">
    <meta name="twitter:description" content="Experience luxury, comfort, and exquisite cuisine in the heart of Kenya at The Social Club.">
    <meta name="twitter:image" content="https://www.yourwebsite.com/images/twitter-image.jpg">
    <link rel="icon" href="/images/logo.jpg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
  <title>The Social Club</title>

</head>
<body>
  <h1>All Posts</h1>
  <ul>
    <% posts.forEach(post => { %>
      <li class="card">
        <h2><a href="/posts/<%= post._id %>"><%= post.title %></a></h2>
        <p><%= post.content.split(" ").slice(0, 30).join(" ") %>...</p>
        <a href="/post"></a><button class="view-button">View Post</button>
      </li>
    <% }) %>
  </ul>
</body>
</html>
